// scss-lint:disable NestingDepth SelectorDepth

main {
  $distance: 1px;
  background: $white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  height: calc(100vh - #{$distance * 2});
  margin: $distance;
  overflow: hidden;
  position: absolute;
  transform: perspective(666px) rotateX(-1deg) translateY($main-offset) scale(.95);
  transition: transform 300ms $cubic-out;
  width: calc(100vw - #{$distance * 2});
  will-change: transform;
  z-index: 666;

  @media #{$mobile} {
    transform: perspective(666px) rotateX(-10deg) translateY($main-offset) scale(.96);
  }

  &.active {
    cursor: auto;
    transform: translateZ(0);
  }

  > section {
    padding: 10px;

    &:first-of-type {
      color: $light-magenta;
      flex: 3;
      overflow: hidden;
      position: relative;

      &::after {
        @include mask($dark-magenta, .444);
        z-index: 222;
      }

      img {
        animation: zoom 50s linear infinite;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 1;

        @media #{$mobile} {
          bottom: 0;
          left: auto;
          right: 0;
          top: auto;
        }
      }
    }

    &:last-of-type {
      background-color: $white;
      flex: 5;
      z-index: 999;
    }

    h1 {
      text-align: right;
      z-index: 999;
    }

    h2 {
      @media #{$mobile} {
        font-size: 12vw;
      }
    }
  }

  a {
    background: $orange;
    border: 1px solid $orange;
    border-radius: 2px;
    cursor: pointer;
    height: 4px;
    position: absolute;
    right: 15px;
    top: 25px;
    width: 30px;
    z-index: 1111;

    &::after,
    &::before {
      background: $orange;
      border-radius: 2px;
      content: '';
      display: block;
      height: 4px;
      left: -1px;
      position: relative;
      top: -11px;
      width: 30px;
    }

    &::after {
      top: 5px;
    }
  }
}
