// scss-lint:disable NestingDepth SelectorDepth

nav {
  @extend %center;
  display: flex;
  filter: blur(5px);
  height: $main-offset;
  position: absolute;
  text-align: center;
  transform: translateZ(-111px);
  transition: all 300ms ease-in-out;
  width: 100vw;
  z-index: 1;

  &.active {
    filter: blur(0);
    transform: none;
  }

  > div {
    > a {
      color: $white;
      display: block;
      font-family: $condensed;
      font-size: 8vh;
      font-weight: $light;
      letter-spacing: .1em;
      line-height: 1.2em;
      text-transform: uppercase;

      @media #{$mobile} {
        font-size: 8vh;
        line-height: 1.4em;
      }
    }

    .social {
      $distance: 20px;
      @extend %center;
      display: flex;
      padding: $distance 0 0 $distance;

      a {
        margin: 0 $distance $distance 0;
        transition: all 200ms ease-in-out;

        &.twitter {
          left: .4vh;
          position: relative;
        }

        &:hover {
          transform: scale(1.05);
        }

        svg {
          height: 7vh;
          width: 7vh;
        }
      }
    }
  }
}
