// scss-lint:disable NestingDepth SelectorDepth

nav {
  @extend %center;
  display: flex;
  height: $main-offset;
  position: absolute;
  text-align: center;
  transform: translateZ(-111px);
  transition: transform 444ms $cubic-in-out;
  width: 100vw;
  will-change: transform;
  z-index: 1;

  &.active {
    transform: translateZ(0);
  }

  > div {
    > a {
      color: $white;
      cursor: pointer;
      display: block;
      font-family: $condensed;
      font-size: 8vh;
      font-weight: $light;
      letter-spacing: .1em;
      line-height: 1.2em;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      transition: all 200ms $cubic-out;

      @media #{$mobile} {
        font-size: 8vh;
        line-height: 1.4em;
      }

      &:hover {
        transform: scale(1.05);

        span::before {
          transform: translate3d(0, 0, 0);
        }

        span::after {
          transform: rotate(30deg) scale(1);
        }
      }

      span {
        $space: 14px;
        display: inline-table;
        overflow: hidden;
        padding: $space $space 0 0;
        position: relative;
        right: -$space;
        top: -$space;

        &::before {
          background-color: $white;
          bottom: 0;
          content: '';
          height: 1px;
          left: 0;
          position: absolute;
          transform: translate3d(-100%, 0, 0);
          transition: transform 200ms $cubic-out;
          width: calc(100% - #{$space * 1.5});
        }

        &::after {
          $size: 40px;
          background-color: rgba($white, .9);
          border-radius: 50%;
          color: $light-orange;
          content: 'Soon!';
          display: block;
          font-family: $font;
          font-size: .666rem;
          font-weight: $medium;
          height: $size;
          letter-spacing: normal;
          line-height: $size;
          position: absolute;
          right: $space/3;
          text-transform: capitalize;
          top: $space/3;
          transform: rotate(30deg) scale(0);
          transition: transform 300ms $recoil;
          width: $size;
        }
      }
    }

    .social {
      $distance: 3vh;
      @extend %center;
      display: flex;
      padding: $distance 0 0 $distance;

      a {
        margin: 0 $distance $distance 0;
        transition: all 200ms $cubic-out;

        &.twitter {
          left: .3vh; // The offset is vertical since the size units are.
          position: relative;
        }

        &.mail {
          svg {
            transform: scale(.93) translateY(-.2vh);
          }
        }

        &:hover {
          transform: scale(1.0666);
        }

        svg {
          height: 6vh;
          width: 6vh;

          @media #{$mobile} {
            height: 8vh;
            width: 8vh;
          }
        }
      }
    }
  }
}
