@keyframes background-translate {
  from {
    background-position: 0% 100%;
  }

  to {
    background-position: 100% 0%;
  }
}

@keyframes zoom {
  from {
    transform: scale(1) translateX(-25%);
  }

  to {
    transform: scale(1.2) translateX(0);
  }
}
