* {
  border: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-overflow-scrolling: touch;
  text-decoration: none;
}

body {
  font-smooth: always; // scss-lint:disable PropertySpelling
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

%center {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

%truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
