{% extends '_base.html' %}

{% block content %}
<nav>
  <div>
    <a href=""><span>Blog</span></a>
    <a href=""><span>Labs</span></a>
    <a href=""><span>Contact</span></a>
    <div class="social">
      <a href="http://github.com/nachoaIvarez" class="github">
        {% include 'github.svg' %}
      </a>
      <a href="http://twitter.com/nachoaIvarez" class="twitter">
        {% include 'twitter.svg' %}
      </a>
      <a href="mailto:hi@nachoalvarez.me?subject=Hi!" class="mail">
        {% include 'mail.svg' %}
      </a>
    </div>
  </div>
</nav>

<main class="active">
  <a id="menu"></a>
  <section>
    <img src="images/foto.jpg" height="100%" width="auto"/>
    <h1>Hi</h1>
  </section>
  <section id="chat">
    <h2>I'm Ignacio.</h2>
    <h3>Nacional nomá</h3>
  </section>
</main>
{% endblock %}
