{% extends '_base.html' %}

{% block content %}
<nav>
  <div>
    <a href="">Blog</a>
    <a href="">Labs</a>
    <a href="">Contact</a>
    <div class="social">
      <a href="http://github.com/nachoaIvarez" class="github">
        {% include 'github.svg' %}
      </a>
      <a href="http://twitter.com/nachoaIvarez" class="twitter">
        {% include 'twitter.svg' %}
      </a>
      <a href="mailto:ignacioalvarez92@gmail.com?subject=Hi!" class="mail">
        {% include 'mail.svg' %}
      </a>
    </div>
  </div>
</nav>
<main class="active">
  <a id="menu"></a>
  <section>
    <img src="foto.jpg" height="100%" width="auto"/>
    <h1>Hi</h1>
  </section>
  <section id="chat">
    <h2>I'm Ignacio.</h2>
  </section>
</main>
{% endblock %}
