* {
  border: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-overflow-scrolling: touch;
  text-decoration: none;
}

body {
  font-smooth: always; // scss-lint:disable PropertySpelling
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

%vertical-center {
  // In order to work, the component using this helper needs to have a display
  // attribute (block, inline-block) and must be inside a component with a declared height.
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: top;
}

%horizontal-center {
  display: inline-block;
  left: 50%;
  margin: auto;
  position: relative;
  transform: translateX(-50%);
  vertical-align: top;
}

%center {
  display: inline-block;
  left: 50%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  vertical-align: top;
}

%truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
