// scss-lint:disable NestingDepth SelectorDepth
@import 'modules/base';
@import 'partials/nav';
@import 'partials/main';

body {
  animation: background-translate 12s linear infinite;
  background-image: linear-gradient(33deg, $orange, $light-orange, $light-magenta);
  background-size: 180%;
  color: $white;
  height: 100vh;
  overflow: hidden;
  perspective: 666px;
  width: 100vw;
}
