@import 'sections/base';

@keyframes Gradient {
  0% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

body {
  animation: Gradient 12s ease-in-out infinite;
  background: linear-gradient(33deg, $light-green, $light-blue);
  background: linear-gradient(33deg, $light-orange 16%, $magenta);
  background-size: 180%;
  color: $white;
  height: 100vh;
  width: 100vw;
}

main {
  @extend %center;
}

.browserupgrade {
  background: $smoke;
  color: $black;
  margin: .2em 0;
  padding: .2em 0;
}
