// scss-lint:disable NestingDepth SelectorDepth
@import 'modules/base';
@import 'partials/nav';
@import 'partials/main';

body {
  background-image: linear-gradient(33deg, $black, #000020);
  background-size: 100%;
  height: 100vh;
  overflow: hidden;
  perspective: 666px;
  width: 100vw;
}
