@import 'sections/base';

@keyframes Gradient {
  0% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

body {
  animation: Gradient 12s ease-in-out infinite;
  // background: linear-gradient(33deg, $light-green, $light-ocean, $light-blue);
  background: linear-gradient(33deg, $lighter-orange 16%, $magenta);
  background-size: 150%;
  color: $white;
  overflow: hidden;
}

nav {
  display: block;
  position: absolute;
  text-align: center;
  width: 100vw;
  z-index: 1;

  > a {
    color: $white;
    display: block;
    font-family: $condensed;
    font-size: 6vw;
    font-weight: $light;
    letter-spacing: 8px;
    line-height: 1.2em;
    text-transform: uppercase;

    @media #{$mobile} {
      font-size: 15vw;
    }
  }
}

main {
  $distance: 2px;
  background-image: url('../foto.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: calc(100vh - #{$distance * 2});
  margin: $distance;
  overflow: hidden;
  transition: all 666ms ease-in-out;
  width: calc(100vw - #{$distance * 2});
  z-index: 666;

  &.active {
    transform: perspective(666px) rotateX(-5deg) translateY(99vh);
  }

  > section {
    flex: 1;
  }
}

.browserupgrade {
  background: $smoke;
  color: $black;
  margin: .2em 0;
  padding: .2em 0;
}
